
<div class="verifiedPage outerPage">
        <div class="outerPageContainer container">
          <!-- <div class="col-xs-12 col-sm-6 loginImage">
            <img src="img/icons/svg/clipboard.svg" alt="Book"> <h2>Clipboard</h2>
            <p>Making Squadron Management, Easy</p>
          </div> -->
          <div class="col-xs-12 col-sm-12 login-form">

          <div class="decoration">
            <img src="img/icons/svg/clipboard.svg" alt="Book"> 
            <h2>Clipboard</h2>
            <p>Making Squadron Management, Easy</p>
            <hr>
            <div class="content">
              <h2>Verification Successful!</h2>
              <img src="img/icons/svg/retina.svg" alt="Retina">
              <p> You can now login by entering the dashboard.</p>
            </div>
          </div>
          
          
	</div>
</div>
