<div class="adminstrationPage" ng-controller="administrationController">
    <!-- TOP NAVIGATION BAR -->
    <topnav></topnav>
    <!-- SIDEBAR -->
    <sidebar></sidebar>
    <div class="page-wrapper">
        <h1>Administration</h1>
        <hr>
        
        <!-- Start Panel Row -->
        <div class="row"> 
            <!-- <div id="topAlert" class="alert alert-info" role="alert"></div>
            <div id="downloadReady" class="alert alert-info alert dismissible" role="alert">Your attendance session is now complete. If you would like to download your attendance results, please head to <a href="/manageAttendance"></a></div> -->
            <h5><a href="/#/administration/import">Import Cadets</a></h5>
             
        </div>
        <!-- End Panel Row -->

        <!-- Note: set the initial collapsed state and change it when clicking -->
        




    </div>

</div>